body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

p {
    font-size: 18px;
    line-height: 1.6;
}


.small-image {
    width: 200px;
    height: auto;
}

.medium-image {
    width: 400px;
    height: auto;
}

.large-image {
    width: 600px;
    height: auto;
}